<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
    <link rel="manifest" href="{{ "site.webmanifest" | relURL }}">
</head>
<body>
    <header>
        <h1><a href="/">{{ .Site.Title }}</a></h1>
    </header>
    <main>
        {{ block "main" . }}
        {{ end }}
    </main>
    <footer>
        <nav>
            {{ range $i, $item := .Site.Menus.footer }}
                {{ if $i }}<span aria-hidden="true"> | </span>{{ end }}
                <a href="{{ with $item.Page }}{{ .RelPermalink }}{{ else }}{{ $item.URL }}{{ end }}">{{ $item.Name }}</a>
            {{ end }}
        </nav>
        <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
    </footer>
</body>
</html>
