<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    <meta name="keywords" content="{{ .Keywords }}">
    <meta name="author" content="histrio">
    <meta name="language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="google-site-verification" content="SbMzGjG0izbES0_RvKMcTw9M-TYHcY4flcborQsGxV4" />
    <meta name="google-site-verification" content="3lfxDZErEzfvXHtFGUi7-7D9x95dvc6BXN3cKrROB60" />
    <meta name="yandex-verification" content="8812304c7b1df6bd" />
    <meta name="yandex-verification" content="024074f66c5f5de2" />

    <meta property="og:title" content="GEOCUVAR: Tracking Recent Changes in Your Area">
    <meta property="og:description" content="Stay updated with the latest OpenStreetMap changes in your region. Monitor, analyze, and understand recent edits and modifications to your local map data with ease.">
    <meta property="og:image" content="URL_to_your_site_logo_or_relevant_image">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Site.BaseURL }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico">
    {{ with .Permalink }}
    <link rel="canonical" href="{{ . | safeURL }}">
    {{ end }}

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

    <script data-goatcounter="https://geocuvar.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>
</head>
<body>

<div class="header">
    <h1><a href="{{ with .Site.GetPage "/" }}{{ .Permalink }}{{ end }}" class="header-logo">
        <img src="{{ "logo.png" | relURL }}" alt="{{ .Site.Title }} Logo" style="height: 50px;">
    </a></h1>
    <p>{{ i18n "subtitle" }}</p>
</div>

{{ block "main" . }}{{ end }}


<div class="footer">
      {{ range .Site.Menus.footer }}
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
</div>

{{ block "footer" . }}{{ end }}

</body>


</html>
