body { font-family: Arial, sans-serif; margin: 0; padding: 0; }

.changeset-listing { 
    list-style-type: none; margin: 0; padding: 0; 
}

.changeset {
    padding: 8px; border-bottom: 1px solid #ddd; 
    display: flex;
    justify-content: space-between; /* Distribute extra space evenly */
    width: 100%; 
}

.changeset-name, .changeset-details {
    flex: 1;
}

.header, .footer { background-color: #f8f9fa; padding: 20px; text-align: center; }
.main { padding: 15px; }
.sidebar { padding: 10px; }

.pagination { text-align: center; padding: 20px 0; margin-top: 20px; }
.pagination ul { display: inline-block; padding: 0; }
.pagination li { display: inline; }
.pagination li a { padding: 5px 10px; border: 1px solid #ddd; margin: 0 2px; background-color: #f8f8f8; }
.pagination li a:hover, .pagination li a:focus { background-color: #e8e8e8; }
.pagination .current { padding: 5px 10px; margin: 0 2px; background-color: #ddd; }

.tags-list ul {
    list-style-type: none;
    padding: 0;
}

.tags-list li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.tags-list a {
    display: block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}


/* Style for single pages content */
.article-content {
    max-width: 800px; /* Set a max-width for readability */
    margin: auto; /* Center the content */
    padding: 20px; /* Add some padding */
    line-height: 1.6; /* Improve line spacing for readability */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Use a readable font */
}

.article-content h1, .article-content h2, .article-content h3 {
    color: #333; /* Dark grey color for headers */
    margin-top: 24px; /* Spacing above headers */
}

.article-content p {
    margin-bottom: 16px; /* Spacing below paragraphs */
    text-align: justify; /* Justify text for a cleaner look */
    text-justify: inter-word;
}

.article-content a {
    color: #0066cc; /* Make links stand out */
    text-decoration: none; /* No underline for a cleaner look */
}

.article-content a:hover {
    text-decoration: underline; /* Underline on hover for clarity */
}

.meta p {
    font-style: italic;
    color: #666;
    margin-top: 0;
    margin-bottom: 20px;
}
