name: Update content

on:
  schedule:
    - cron: '0 0,4,8,12,16,20 * * *' # Runs at 00:00, 04:00, 08:00, 12:00, 16:00, 20:00 UTC
  workflow_dispatch: # This line enables manual triggering of the workflow


permissions:
  contents: write

jobs:
    update:
      runs-on: ubuntu-latest

      steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
            site/boundaries.yaml
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-
            ${{ runner.os }}-cargo-

      - name: Run Rust application
        run: make run

      - name: Cleanup old files
        run: make cleanup

      - name: Commit and push changes
        run: |
          git config --global user.email "me@false.org.ru"
          git config --global user.name "Rinat Sabitov"
          git add -A
          git diff --staged --quiet || git commit -m "Content update automated commit by GitHub Actions"
          git push
